	
#file-upload{
position: relative;
left: 100px;
}
#file-error{
position: relative;
left: 50px;
}
.sorting{
	cursor: pointer;

}
.current{
	background-color: blue;
	color: white;
}
.file{
	position: absolute;
	left:26px;
	top: 550px;
}
#add-file{
	position: absolute;
	left:260px;
	top: 550px;
}
#file-error{
	position: absolute;
	top: 550px;

}
.message-text{
	position: relative;
	top: 350px;
}
.validation-text{
	color:red;
}
fieldset{
	height: 700px;
	border-radius: 10px;
}
#submit{
	position: absolute;
	top: 680px;
	left: 30px;
}
.photo{
	position: absolute;
	top: 320px;
}
#message{
	position: absolute;
	top:600px;
}
#message-area{
	position: absolute;
	top:-40px;
}
#message-error{
	position: absolute;
	left: 320px;
}
#data-table{
	position: relative;
	top:50px;
	left:300px;
}
h2{
	position:absolute;
	left:500px;
}
